


.highvibes-signup-margin {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-top: 40px;
  height: 350px;

}

.signup-msg-layout {
  flex: 1;
}

.canni-title {
  font-family: 'georgia',serif;
  color: #C726ED;
  font-size: 26px;
  font-weight: 400;
}

.canni-msg {
  color: white;
  font-family:'questrial',serif;
  font-size: 24px;
}

.signup-input-layout {
  flex: 1;
  margin-left: -150px;
}

.canni-input-layout,
.canni-input-layout1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
  position: relative;
}

.canni-input-layout1 {
  margin-bottom: 50px;
}

.label1,
.label3 {
  position: absolute;
  top: -40px;
  left: 100px;
  font-family: 'georgia',serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}


.label2,
.label4 {
  position: absolute;
  top: -40px;
  left: 380px;
  font-family: 'georgia',serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;

}

.canni-input {
  width: 220px;
  padding: 10px 1px 10px 20px;
  color: black;
  font-size: 15px;
  font-family: 'enriqueta',serif;
}

.input-two{
  margin-left: -140px;
}

::placeholder{
  color: black;
}

.canni-sign-up{
  background-color: #C726ED;
  color: black;
  padding: 8px 20px;
  border: none;
  font-size: 14px;
  font-family:'Heebo',sans-serif;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;

}



